<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Givonic-Black.ttf</string>
		<string>Givonic-Bold.ttf</string>
		<string>Givonic-Light.ttf</string>
		<string>Givonic-Regular.ttf</string>
		<string>Givonic-SemiBold.ttf</string>
		<string>Givonic-Thin.ttf</string>
		<string>Givonic Variable.ttf</string>
	</array>
</dict>
</plist>
